<!doctype html>
<html>
	<head>
		<title>JavaScript is DISABLED</title>
	</head>
	<body>
		<h1 style="color:red">! You have JavaScript disabled !</h1>
		<h1>The game is only functional if you have JavaScript enabled. Click <a href="/">here</a> after enabling JavaScript.</h1>
		<h2>Need help? For Chromium-based browsers, check out <a href="https://www.whatismybrowser.com/guides/how-to-enable-javascript/chrome" target="_blank">this</a> tutorial.</h2>
	</body>
</html>