<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="description" content="A description">
      <meta name="keywords" content="some,meta,tags">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Terms of Service | <%= gameName %></title>
      <!-- Bootstrap stylesheet -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   </head>
   <style>
      a {
      color:#F0FFF0;
      text-decoration:none;
      display:block;
      }
      .card {
      border-color:white;
      margin: -0.5px;
      }
      .form-control {
      min-width: 250px;
      }
      /* width */
      ::-webkit-scrollbar {
         width: 5px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
         background: #000; 
      }

         /* Handle */
      ::-webkit-scrollbar-thumb {
         background: #3366cc; 
      }

         /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
         background: #24478f; 
      }
   </style>
   <body class="text-white bg-dark" style="background-image: url('img/backgrounds/landing.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;">
      <div class="container" style="max-width:60vw">
         <center>
            <a href="/"><img src="img/styles/<%= style %>/logo.png" style="max-width:400px; pointer-events: none;"></a>
         </center>
         <div class="card" style="background-color: rgba(0, 0, 0, 0.7);">
            <div class="card-body text-white" style="max-height:500px;overflow-y:auto;">
               <h1 class="text-center">Terms of Service</h1>
               <center><span>Last modified June 17th, 2019 12:41PM PST</span></center>
               <h2>I. Fair Use</h2>
               <p><%= gameName %> staff members reserves the right to determine what is fair use and what is not. You may not use this website as a platform to <i>excessively</i> distribute hate messages. No illegal downloads or other law breaking materials (under US law) shall be posted in the game chat under any circumstances. You will not attempt to disrupt site activity for other users through denial of service methods or other illegal methods. You will also refrain from threatening other players, if at all. In under no circumstances are you to release personal information about other players without their consent first. Refusal to comply by any of the above terms will result in the termination of your account.</p>
               <h2>II. Cheating</h2>
               <p>Cheating is defined as gaining any advantage over other players through methods not intended by the game developers. Such examples include using scripts or holding down the space bar with an object while attacking enemies. Although anti-cheat mechanisms such as reCAPTCHAs are implemented, they are not infallible. Attempts to circumvent the anti-cheats are NOT allowed under any circumstances. Failure to play legitimately will result in temporary suspension of service during the first incident. Further failures will result in the termination of your account.</p>
               <h3>III. Use of Multiple Accounts</h3>
               <p>Use of multiple accounts is prohibited. For additional members sharing the same IP address, you should contact an administrator. If discovered that you are using multiple accounts, all of your accounts are susceptible to suspension or termination.</p>
               <h3>IV. In-game Purchases & Fraud</h3>
               <p>All purchases made in <%= gameName %> are FINAL. No refunds will be given. We are also not responsible for loss of value in game currency. Using methods such as chargebacks will result in immediate termination of your account and no refunds will be given. Trading in-game items is also at YOUR OWN RISK. Staff members will not compensate you for any losses made through external trading.</p>
            </div>
         </div>
      </div>
      <!-- Bootstrap required scripts -->
      <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>
</html>